@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import 'tailwindcss';

/* custom colors for the app */
@theme {
  --color-light-blue: oklch(71.09% 0.041 270.79);
  --color-dark-blue: oklch(47.12% 0.053 280.1);
  --color-light-tan: oklch(96.3% 0.018 70.24);
  --color-dark-tan: oklch(87.16% 0.024 75.84);
  --color-light-red: oklch(60.88% 0.045 351.23);
  --color-dark-red: oklch(52.41% 0.063 353.27);
  --color-gray: oklch(66.65% 0 0);

  --default-font-family: 'Inria Serif';
  --font-logo: 'IM Fell Great Primer SC';
}

html {
  scroll-behavior: smooth;
}
